#!/bin/bash
# ----------------------------------------------------------------------------
# Description   Configuration details for the data import.
# Dependencies  none
#
# Date          2013-mar-16
# Author        Dimitar Misev
# ----------------------------------------------------------------------------

# load utility functions
. $IMPORT_SCRIPT_DIR/../../util/util.sh

# directory containing the data
DATADIR=$DATAROOTDIR/gisat

# collection names
COLLS="gisat"

# pixel bbox
X=5000
Y=5000

# geo bbox
min_x_geo_coord="10000000"
min_y_geo_coord="10000000"
max_x_geo_coord="0"
max_y_geo_coord="0"

# crs
#CRS="EPSG:32633"
CRS="http://www.opengis.net/def/crs/EPSG/0/32633"

# axis names in petascope
axes_names="x,y,t"

# types
NULLVALUE=""
BASE_TYPE="GisatPixel"
SET_TYPE="GisatSet"
MDD_TYPE="GisatMdd"
