#!/bin/bash
# ----------------------------------------------------------------------------
# Description   Configuration details for the data import.
# Dependencies  none
#
# Date          2013-mar-16
# Author        Dimitar Misev
# ----------------------------------------------------------------------------

# load utility functions
. $IMPORT_SCRIPT_DIR/../../util/util.sh

# directory containing the data
DATADIR=$DATAROOTDIR/USGS_DEM

# collection names
COLLS="USGS_DEM"

# pixel bbox
X=3601
Y=3601

# geo bbox
min_x_geo_coord="-90.0001389"
max_x_geo_coord="-88.9998611"
min_y_geo_coord="28.9998611"
max_y_geo_coord="30.0001389"

# crs
CRS="http://www.opengis.net/def/crs/EPSG/0/4326"

# axis names in petascope
axes_names="x,y"

# types
NULLVALUE=""
SET_TYPE="ShortSet"
MDD_TYPE="ShortImage"
