#!/bin/bash
# ----------------------------------------------------------------------------
# Description   Configuration details for the data import.
# Dependencies  none
#
# Date          2013-mar-16
# Author        Dimitar Misev
# ----------------------------------------------------------------------------

# load utility functions
. $IMPORT_SCRIPT_DIR/../../util/util.sh

# directory containing the data
DATADIR=$DATAROOTDIR/nir

# collection names
COLLS="NIR"

# pixel bbox
X=1916
Y=1076

# geo bbox
min_x_geo_coord=0
max_x_geo_coord=$X
min_y_geo_coord=0
max_y_geo_coord=$Y

# crs
CRS="CRS:1"

# axis names in petascope
axes_names="x,y"

# types
NULLVALUE=""
SET_TYPE="RGBSet"
MDD_TYPE="RGBImage"
