#!/bin/bash
# ----------------------------------------------------------------------------
# Description   Configuration details for the data import.
# Dependencies  none
#
# Date          2013-mar-16
# Author        Dimitar Misev
# ----------------------------------------------------------------------------

# load utility functions
. $IMPORT_SCRIPT_DIR/../../util/util.sh

# directory containing the data
DATADIR=$DATAROOTDIR/pml_monthly

# collection names
COLLS="ESACCI_v0_95_chlor_a_monthly"

# pixel bbox
X=8639
Y=4319
T=

RESOLUTION=

# geo bbox
min_x_geo_coord="-90"
max_x_geo_coord="90"
min_y_geo_coord="-180"
max_y_geo_coord="180"

# crs
CRS="http://www.opengis.net/def/crs/EPSG/0/4326"

# axis names in petascope
axes_names="x,y,month"

# types
NULLVALUE="-32767"
SET_TYPE="FloatSet3"
MDD_TYPE="FloatCube"


variable="chlor_a"
